.button {
  color: white;
  background-color: var(--brand-green);
  padding: 15px 30px;
  font-family: 'Rubik';
  font-size: 16;
  line-height: 1;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  border: 1px solid var(--brand-green);
  cursor: pointer;
  &:hover {
    color: var(--brand-green);
    background-color: white;
    border: 1px solid var(--brand-green);
  }
}
.location-section__button {
  position: absolute;
  top: 50%;
  right: 25px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(99, 171, 69, 0.6);
  padding: 10px 15px;
  font-family: 'Rubik';
  font-size: 14;
  line-height: 1;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  border: 1px solid rgba(99, 171, 69, 0.6);
  cursor: pointer;
  &:hover {
    color: var(--brand-green);
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(99, 171, 69, 0.6);
  }
}
