:root {
  --brand-green: #63ab45;
  --background-light-green: #ddeed6;
  --accent-green: #008000;
  --black-title: #100c08;
  --gray-text: #787878;
  --orange-icon: #fbb03b;
  --background-light-orange: #feeed5;
  --secondary-green: #90a955;
  --secondary-yellow-green: #d2d234;
  --background-light-yellow-green: #f5f5d3;
  --background-gray: #dbe1cd;
  --footer-gray: #d9d9d9;
}
