:root {
  --brand-green: #63ab45;
  --background-light-green: #ddeed6;
  --accent-green: #008000;
  --black-title: #100c08;
  --gray-text: #787878;
  --orange-icon: #fbb03b;
  --background-light-orange: #feeed5;
  --secondary-green: #90a955;
  --secondary-yellow-green: #d2d234;
  --background-light-yellow-green: #f5f5d3;
  --background-gray: #dbe1cd;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  line-height: 1.8;
  font-family: "Jost", "Rubik" sens-serif;
  font-weight: 400;
  color: var(--gray-text);
  font-weight: normal;
  font-size: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* jost-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jost-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-500 medium - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/jost-v18-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 medium - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v28-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-600 semi-bold - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rubik-v28-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-700 bold - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v28-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* satisfy-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Satisfy";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/satisfy-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
.header__link {
  line-height: 2;
  font-size: 15px;
  color: var(--black-title);
  font-family: "Rubik";
  cursor: pointer;
}
.header__link:hover {
  color: var(--brand-green);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header__icon {
  width: 27px;
  height: 27px;
  fill: var(--black-title);
  cursor: pointer;
}
.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}
.header__call-icon {
  width: 28px;
  height: 28px;
  fill: var(--brand-green);
  cursor: pointer;
}
.header__call-info {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__call-info::before {
  content: "";
  width: 1px;
  height: 35px;
  left: -10px;
  position: absolute;
  margin-right: 10px;
  background-color: var(--gray-text);
}
.header__call-text {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 14px;
  color: var(--black-title);
}
.header__call-number {
  color: var(--brand-green);
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.hero-section__container {
  background-image: url("/public/images/hero-photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.hero-section__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 970px;
  gap: 15px;
}
.hero-section__title {
  font-family: "Rubik";
  font-weight: 600;
  font-size: 80px;
  line-height: 1.1;
  color: white;
}
.hero-section__accent {
  color: var(--brand-green);
}
.hero-section__offers {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--background-gray);
  border-radius: 18px 18px 0 0;
}
.hero-section__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 40px;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--black-title);
  font-family: "Rubik";
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.hero-section__offer:hover {
  background-color: var(--brand-green);
  color: white;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.hero-section__offer:first-child:hover {
  border-radius: 18px 0 0 0;
}
.hero-section__offer:last-child:hover {
  border-radius: 0 18px 0 0;
}
.hero-section__icon {
  width: 23px;
  height: 23px;
  fill: black;
}
.hero-section__offer:hover .hero-section__icon {
  fill: white;
}/*# sourceMappingURL=App.css.map */