.footer {
  background-color: black;

  &__newsletter {
    position: absolute;
    background-image: url('/public/images/newsletter-back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 400px;
    border-radius: 25px;
    left: 50%;
    top: -10%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__newsletter-title {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    color: var(--black-title);
  }
  &__newsletter-text {
    color: var(--black-title);
    padding: 5px 0 20px;
  }
  &__input-container {
    position: relative;
    display: flex;
    border: 2px solid var(--brand-green);
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
  }

  &__input {
    padding: 18px 320px 18px 20px;
    border: none;
    outline: none;
  }
  &__newsletter-button {
    position: absolute;
    right: -3px;
    border-radius: 0 10px 10px 0;
    background-color: var(--brand-green);
    fill: white;
    cursor: pointer;
    border: 1px solid var(--brand-green);
  }
  &__newsletter-button:active {
    fill: var(--brand-green);
    background-color: white;
    transform: scale(0.95);
  }
  &__newsletter-button-icon {
    width: 22px;
    height: 22px;
    padding: 15px;
  }
  &__container {
    display: flex;
    gap: 100px;
    justify-content: space-around;
    padding: 230px 150px 180px;
    position: relative;
  }
  &__book {
    max-width: 306px;
  }
  &__title {
    font-family: 'Rubik';
    font-weight: 600;
    color: white;
    font-size: 30px;
    line-height: 1.6;
    padding: 20px 0 25px;
  }
  &__secondary-title {
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: var(--footer-gray);
  }
  &__link-menu {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__link {
    cursor: pointer;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 260px;
  }
  &__contact-title {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-top: 15px;
  }
  &__icon {
    width: 20px;
    height: 20px;
    fill: var(--orange-icon);
  }
  &__contact:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  &__text {
    max-width: 306px;
    padding-top: 20px;
  }
  &__payment-icons {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    cursor: pointer;
  }
  &__copyright {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 50px;
    width: 100%;
    position: relative;
  }
  &__copyright::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: var(--gray-text);
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__socials {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  &__social {
    width: 24px;
    height: 24px;
    fill: var(--gray-text);
    border: 1px solid var(--gray-text);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      fill: white;
    }
  }
  &__terms {
    font-family: 'Rubik';
    font-size: 14px;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
  &__privacy {
    display: flex;
    gap: 20px;
  }
}
