.location-section {
  background-image: url('/public/images/Location-Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__container {
    padding: 110px 0;
    margin: 0 auto;
    max-width: 1380px;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 700px;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
  &__card {
    position: relative;
  }
  &__card-title {
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 25px;
  }
  &__tours-left {
    position: absolute;
    top: 15px;
    background-color: var(--orange-icon);
    padding: 5px 12px;
    font-size: 12px;
    font-family: 'Rubik';
    line-height: 1;
    font-weight: 500;
    color: var(--black-title);
    border-radius: 0 4px 4px 0;
  }
}
